Repository shohan-dev/sufast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-test, python-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^python/
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^python/
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^python/
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^python/sufast/
        additional_dependencies: [types-requests]

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust format
        files: ^rust-core/
      - id: clippy
        name: Rust clippy
        files: ^rust-core/
        args: ["--", "-D", "warnings"]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        files: ^python/sufast/
        args: ["-c", "python/pyproject.toml"]

  - repo: local
    hooks:
      - id: rust-test
        name: Rust tests
        entry: cargo test
        language: system
        files: ^rust-core/
        pass_filenames: false

      - id: python-test
        name: Python tests
        entry: python -m pytest tests/ -x
        language: system
        files: ^python/
        pass_filenames: false

Dynamic Added
  blog.db
  python/example_app.py
  python/pyproject.toml
  python/sufast/__init__.py
  python/sufast/core_backup.py
  python/sufast/database.py
  python/sufast/middleware.py
  python/sufast/request.py
  python/sufast/routing.py
  python/sufast/sufast_server.dll
  python/sufast/templates.py
  python/tests/test_v2_features.py
  rust-core/Cargo-new.toml
  rust-core/src/database.rs
  rust-core/src/lib.rs
  rust-core/src/middleware.rs
  rust-core/src/rate_limiting.rs
  rust-core/src/request.rs
  rust-core/src/response.rs
  rust-core/src/routing.rs
  rust-core/src/security.rs
  rust-core/src/templates.rs
  test_dynamic_routing.py
  test_hybrid.py
  test_simple_hybrid.py
Due: rust-test, python-test

Dynamic v2
  EXAMPLE_APP_GUIDE.md
  ULTRA_FIX_SUMMARY.md
  python/example_app.py
  python/sufast/__init__.py
  python/sufast/core.py
  python/sufast/core_backup.py
  python/sufast/sufast_server.dll
  rust-core/Cargo.toml
  rust-core/src/lib.rs
  test_core_functionality.py
  test_ultra_fix.py
  ultra_demo.py
Due: rust-test, python-test

dynamic v3
  example_app_ultimate.py
  python/sufast/__init__.py
  python/sufast/core_ultimate.py
  python/sufast/sufast_server.dll
  rust-core/Cargo.toml
  rust-core/src/lib_ultimate.rs
Due: rust-test, python-test

update
  python/example_app.py
  python/example_app_ultimate.py
  python/sufast/core_backup.py
  rust-core/benches/http_performance.rs
Due: rust-test, python-test

Dynamic Update Final
  example_app_ultimate.py
  python/example_app_ultimate.py
  python/sufast/__init__.py
  python/sufast/core.py
  python/sufast/core_ultimate.py
Due: python-test

Update README with expanded docs and bump version
  README.md
  python/example_app_ultimate.py
  setup.py
Due: python-test

Refactor Sufast for cleaner output and auto-generated docs
  example_app_ultimate.py
  python/example_app_ultimate.py
  python/sufast/core.py
  python/sufast/core_ultimate.py
  python/sufast/sufast_server.dll
  rust-core/Cargo.toml
  rust-core/src/lib.rs
  rust-core/src/lib_ultimate.rs
  setup.py
Due: rust-test, python-test

Update
  python/example_app_ultimate.py
  python/sufast/core_ultimate.py
Due: python-test

update v4
  DOCS_FIX_SUMMARY.md
  README.md
  python/example/enhanced_example.py
  python/example/example_app_ultimate.py
  python/sufast/__init__.py
  python/sufast/core_ultimate.py
  python/sufast/sufast_server.so
  test_core_functionality.py
  test_dynamic_routing.py
  test_hybrid.py
  test_simple_hybrid.py
  test_ultra_fix.py
  ultra_demo.py
Due: python-test

Update README with latest changes
  README.md
Due: none

update
  python/example/complete_example.py
  python/pyproject.toml
  python/sufast/__init__.py
  python/sufast/__main__.py
  python/sufast/app.py
  python/sufast/background.py
  python/sufast/cli.py
  python/sufast/compression.py
  python/sufast/database.py
  python/sufast/exceptions.py
  python/sufast/logging.py
  python/sufast/middleware.py
  python/sufast/openapi.py
  python/sufast/request.py
  python/sufast/security.py
  python/sufast/server.py
  python/sufast/sessions.py
  python/sufast/socketio_support.py
  python/sufast/sse.py
  python/sufast/swagger.py
  python/sufast/testclient.py
  python/sufast/uploads.py
  python/sufast/websocket.py
  python/tests/test_example.py
  python/tests/test_framework.py
  rust-core/Cargo.toml
  rust-core/src/lib_ultimate.rs
Due: rust-test, python-test

Add tests, safe-print, and Rust server robustness
  python/LOCAL_TESTING.md
  python/sufast/__init__.py
  python/sufast/app.py
  python/sufast/server.py
  python/tests/conftest.py
  python/tests/demo_run.py
  python/tests/test_compat_exports.py
  python/tests/test_core.py
  python/tests/test_example.py
  python/tests/test_framework.py
  python/tests/test_integration.py
  python/tests/test_v2_features.py
Due: python-test

Bundle docs UI and clean up Sufast app
  python/pyproject.toml
  python/sufast/app.py
  python/sufast/docui/redoc.css
  python/sufast/docui/redoc.html
  python/sufast/docui/redoc.js
  python/sufast/docui/swagger.css
  python/sufast/docui/swagger.html
  python/sufast/docui/swagger.js
  python/sufast/server.py
  python/sufast/swagger.py
  python/tests/demo_run.py
Due: python-test
